@charset "UTF-8";

body{
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: darkblue;
    background-color: darkgoldenrod;
}

h2{
    color: darkred;
    background-color:  lightgoldenrodyellow;
}

p{
    text-align: justify;
}