@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #DEC4CB, #BF9E9D);
}

main{
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px #8b7474c5;
    width: 500px;
    padding: 5%;
    margin: auto;
}

h1{
    text-align: center;
    color: #912A45;
    text-shadow: 1px 1px 3px #641d30c0;
}

h2{
    color: #BF9E9D;
}

p {
    text-align: justify;
}